*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu-bar{
    display: none;
}

.icon-menu{
    margin-top: 0px;
    padding: 8px;
}

header label {
    float: right;
    font-size: 27px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    margin-top: 0%;
    left: 0;
    width: 40%;
    height: 100vh;
    background: rgb(99, 238, 141);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: white;
    height: 105px;
    text-decoration: none;
    padding: 40px;
    border-bottom: 1px solid rgb(255, 255,255,0.5);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0);
}

@media (min-width:1153px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border: none;
    }

    header label {
        display: none;
    }
}